@page "/"
@rendermode InteractiveAuto


<PageTitle>Home</PageTitle>

<FluentHeader>
    <h1>Welcome to xaberue's Hospital Manager</h1>
</FluentHeader>
<FluentBodyContent>
    <FluentStack Orientation="Orientation.Horizontal">
        <FluentCard Width="400px" Height="250px">
            <a href="/appointment-registration">New appointment</a>
        </FluentCard>
    </FluentStack>
</FluentBodyContent>

<FluentFooter>
    Contact us on our webpage <a href="https://www.dotnetbarcelona.com/">here!</a>
    <FluentSpacer />
    xaberue
</FluentFooter>

@* TODO: Add image to the card *@