@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@rendermode InteractiveAuto


<PageTitle>Home</PageTitle>

<AuthorizeView Context="authContext">
    <FluentHeader>
        <h1>Hospital Manager Quick actions</h1>
    </FluentHeader>
    <FluentBodyContent>
        <FluentStack Orientation="Orientation.Horizontal">
            <FluentCard Width="400px" Height="250px" Style="background-image: url('/bg_new_appointment.jpg'); background-size: cover;">
                <a href="/appointment-registration" class="home-card-text">New appointment</a>
            </FluentCard>
        </FluentStack>
    </FluentBodyContent>
</AuthorizeView>