<header>
  <h1>Hospital's Appointments</h1>
</header>

<section class="appointments-header">
  <mat-card appearance="outlined" class="header-card">
    <mat-card-content class="header-container">
      <div class="header-code">Code</div>
      <div class="header-state">State</div>
      <div class="header-box">Box</div>
    </mat-card-content>
  </mat-card>
</section>

<section class="appointments-entries">
  <mat-card appearance="outlined" *ngFor="let appointment of appointments" class="appointment-card">
    <mat-card-content class="appointment-container">
      <div class="appointment-code">{{appointment.code}}</div>
      <div class="appointment-state">{{appointment.state}}</div>
      <div class="appointment-box">{{appointment.box}}</div>
    </mat-card-content>
  </mat-card>
</section>
